@attribute [Route(RouteHelper.Home)]

<PageTitle>Identity Claims Play</PageTitle>

<h1>Identity Claims Play</h1>
<p>See <a href="https://github.com/MrYossu/IdentityClaimsPlay" target="_blank">the project page</a> for more details of what's going on here</p>

<h2>Your details</h2>
@if (UserHelper.IsAuthed) {
  <p>
    You are logged in as <code>@UserHelper.Email</code>, and have the role <code>@UserHelper.Role.SplitCamelCase()</code>
    @if (!UserHelper.GlobalAdmin) {
      <span> and are associated with @UserHelper.CompanyName</span>
    }
    </p>
  @if (UserHelper.Role == ClaimsHelper.UserRoleCardIssuerUser) {
    <p>You have the following permission(s)...</p>
    <ul>
      @foreach (Claim claim in UserHelper.Claims) {
        <li>@claim.Value.SplitCamelCase()</li>
      }
    </ul>
  }
} else {
  <p>You are not logged in. Go to the <a href="@RouteHelper.Login">log-in page</a> and pick a user. All users have a password of <code>1</code> for this sample.</p>
}

<h2>Access restrictions</h2>
<p>These are the intentions, not all permissions (and indeed not all pages) may be implemented yet.</p>
<dl>
  <dt>Home page</dt>
  <dd>Anyone can access</dd>
  <dt>Company list</dt>
  <dd>Only global admin can access</dd>
  <dt>User list and details</dt>
  <dd>Only global and company admins can access. Company admins can only see users for their company</dd>
  <dt>Charity list and details</dt>
  <dd>All admins, and flunkies with charity permissions can view. Only flunkies with edit charity permissions can edit</dd>
  <dt>TODO - Donor list and details</dt>
  <dd>All admins, and flunkies with donor permissions can view. Only flunkies with edit donor permissions can edit</dd>
</dl>

<h2>Things to do</h2>
<ul>
  <li>See if we can link directly from the <code>User</code> to the associated claims, instead of having to load them separately from the context</li>
  <li>Split the roles and permissions. Have each as an enum rather than strings</li>
  <li>Build a <code>UserHelper</code> class that abstracts away all the nitty-gritty code of getting roles and permissions. That way the individual pages don't need to repeat the same code</li>
</ul>

<style>
  h2 {
    border-top: 1px solid rgb(4, 4, 128);
    padding-top: 3px;
  }
</style>