@using IdentityClaimsPlay.Crm.Areas.General.Shared
<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          <RedirectToLogin />
        </NotAuthorized>
      </AuthorizeRouteView>
    </Found>
    <NotFound>
      <PageTitle>Not found</PageTitle>
      <AuthorizeView>
        <Authorized>
          <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex justify-content-center position-relative">
              <img src="/images/404.png" alt="Page not found" class="not-found-img" style="max-width: 700px" />
              <div class="position-absolute" style="inset: 0;"></div>
            </div>
          </LayoutView>
        </Authorized>
        <NotAuthorized>
          <LayoutView Layout="@typeof(MainLayout)">
            <section class="offset">
              <div class="d-flex justify-content-center position-relative">
                <img src="/images/404.png" alt="Page not found" class="not-found-img" style="max-width: 700px" />
                <div class="position-absolute" style="inset: 0;"></div>
              </div>
            </section>
          </LayoutView>
        </NotAuthorized>
      </AuthorizeView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>