@attribute [Route(RouteHelper.UserList)]
@inherits CommonComponentBase

<PageTitle>Users</PageTitle>

<h1>Users@(string.IsNullOrWhiteSpace(UserHelper.CompanyName) ? "" : $" for {UserHelper.CompanyName}")</h1>

<p>Click on a user to see details or <a href="@(RouteHelper.UserDetails)new">add a new user</a></p>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Global admin?</th>
      <th>Role(s)</th>
    </tr>
  </thead>
  <tbody>
    @foreach (UserDto user in _users) {
      <tr>
        <td><a href="@(RouteHelper.UserDetails + user.Id)">@user.Email</a></td>
        <td>@(user.IsAdmin ? "Y" : "N")</td>
        <td><HtmlRaw Html="@user.Roles" /></td>
      </tr>
    }
  </tbody>
</table>